# Unpacking Tuple

Tutorial By **Tech Blooded**

When we create a tuple, we normally assign values to it. This is called "**packing**" a tuple

In [2]:
a = ("amol","abhishek","aniket")

But, in Python, we are also allowed to extract the values back into variables. This is called "**unpacking**"

In [3]:
m , n , o = a

In [4]:
m

'amol'

In [5]:
n

'abhishek'

In [6]:
o

'aniket'

The number of variables must match the number of values in the tuple,

if not, you must use an **asterix** to collect the remaining values as a list.

In [7]:
a = ("amol","abhishek","aniket","sushant")

In [8]:
m , n ,*o = a

In [9]:
m

'amol'

In [10]:
n

'abhishek'

In [11]:
o

['aniket', 'sushant']

If the asterix is added to another variable name than the last, 

Python will assign values to the variable until the number of values left matches the number of variables left.

In [12]:
a = ("amol","abhishek","aniket","sushant")

In [13]:
m , *n ,o = a

In [14]:
m

'amol'

In [15]:
n

['abhishek', 'aniket']

In [16]:
o

'sushant'

# Thank You